@using Microsoft.AspNetCore.SignalR.Client
@using Mullai.Web.Wasm.Services
@inject ChatState ChatState

<div class="status-badge @(ChatState.ConnectionState == HubConnectionState.Connected ? "online" : "offline")">
    @(ChatState.ConnectionState == HubConnectionState.Connected ? "Connected" : "Reconnecting...")
</div>

@code {
    protected override void OnInitialized()
    {
        ChatState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        ChatState.OnChange -= StateHasChanged;
    }
}
